body{
    background-color: white;
    color: black;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 5px;
}

a{
    color: black;
    text-decoration: none;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid red
}

.center{
    text-align: center;
}